$blue-color: #358597;
$pink-color: #F4A896;
$gray-color: #f9f9f9;

.footer{
  margin-bottom: 0;
  &__textContainer{
    // width: 30%;
    border-right: 15px solid $blue-color;
    border-left: 15px solid $blue-color;
    p{
      margin-bottom: 0;
    }
  }
  &__iconContainer{
    background-color: $pink-color;
  }
}