$blue-color: #358597;
$pink-color: #F4A896;
$gray-color: #f9f9f9;

.footer{
  margin-top: 30px;
  border-top: 15px solid $pink-color;
  &__textContainer{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-right: 15px solid $blue-color;
    border-left: 15px solid $blue-color;
    p{
      margin-bottom: 0;
    }
    &__description{
      width: 35%;
      margin: 0 5%;
    }
    &__contacts{
      width: 35%;
      margin: 0 5%;
    }
    &__links{
      width: 30%;
      margin: 0 5%;
    }
  }
  &__iconContainer{
    display: flex;
    justify-content: center;
    background-color: $pink-color;
    a{
      border: 3px solid lightgray;
      border-radius: 15px;
      background-color: lightgray;
      margin: 5px 3%;
    }
    a:hover{
      background-color: #101820;
      border: 3px solid #101820;
      transition: background-color 0.5s;
      transition: border 0.2s;
    }
    &__icon{
      color: $blue-color;
      border-radius: 10px;
    }
  }
}