.general{
  h2{
    text-align: center;
    margin: 15px 0;
  }
  &--align{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  &__donate{
    width: 20%;
    h3{
      text-align: center;
    }
    hr{
      width: 50%;
    }
    p{
      width: 60%;
      margin: auto auto;
    }
  }
  &__petGrid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid black;
    width: 78%;
    margin-left: 2%;
  }
}