$blue-color: #358597;
$gray-color: #f9f9f9;

.animals{
  &__grid{
    margin: 25px 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    &__buttons{
      margin: 5px 15px;
      display: flex;
      flex-direction: column;
      a{
        width: 100px;
        height: 100px;
        background-color: $blue-color;
        border: 3px solid $blue-color;
        border-radius: 8px;
        margin: auto 0;
        cursor: pointer;
      }
    }
  }
  h2 {
    text-align: center;
    color: white;
    font-weight: 700;
    background-color: $blue-color;
    padding: 10px;
    box-shadow: inset 0px 11px 8px -10px black;
  }
}
