$blue-color: #358597;
$pink-color: #F4A896;

.How{
  img{
    width: 100%;
  }
  h1{
    text-align: center;
    margin-bottom: 25px;
    color: $blue-color;
  }
  &__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    &__el{
      width: 40%;
      border: 1.5px solid $blue-color;
      border-radius: 15px;
      padding: 10px 10px;
      margin: 15px 15px;
      h3{
        color: $pink-color;
      }
    }
  }
}